
.itemList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .lists {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 20px); /* Adjust as needed for your layout */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .lists p {
    margin: 5px 0;
  }
  
  .images {
    max-width: 100%;
    height: auto;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Style the "Go to Cart" link */
  a {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  a:hover {
    background-color: #0056b3;
  }
  